In [1]:
import pandas as pd
import numpy as np
import re

import nltk
from nltk.corpus import wordnet

In [2]:
data = pd.read_csv("../dataset/training_data.csv", sep="\t", header=None)
data.head()

   0                                                  1
0  0  donald trump sends out embarrassing new year‚s...
1  0  drunk bragging trump staffer started russian c...
2  0  sheriff david clarke becomes an internet joke ...
3  0  trump is so obsessed he even has obama‚s name ...
4  0  pope francis just called out donald trump duri...

In [6]:
df =data.copy()

In [20]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df.columns = ['label', 'news_headline']
col = df.pop('label')
df['label'] = col

pd.set_option('display.max_colwidth',250)
df.sample(10)

,news_headline,label
1272,trump awakes with unhinged rant over what to call his failing muslim ban (tweets),0
23032,house democrats escalate effort to obtain trump tax returns,1
6044,trump makes new racist attack on judge exposing trump university (video),0
29720,mattis says north korean icbm not yet a 'capable threat' against u.s,1
32587,lebanon's aoun says pm hariri's freedom restricted in riyadh,1
32422,tillerson to press myanmar army chief to halt violence so rohingya can return,1
28133,carson tells supporters no 'path forward' in presidential bid,1
703,craziest person in congress wants to investigate everyone but trump; maybe you‚re on the list,0
31705,summit on euro zone future in december still on despite no german government: tusk,1
10197,jill stein believes north korea is victim of u.s‚north korea ‚feels cornered‚,0

In [34]:
# Split the dataset
y = df['label']                 # target
X = df[['news_headline']]         # features

pd.set_option('display.max_colwidth',250)
X.sample(20)

                                                                                                    news_headline
20626                                           trump is 'very supportive' of senate healthcare bill: white house
19356                                        senator mcconnell says ending u.s. debt ceiling would be challenging
22388                                                maryland lawmakers pass bill to curb immigration enforcement
31074                                         pope heads for bangladesh after diplomatic balancing act in myanmar
29210                                            lebanon's interior minister accuses uber of not checking records
20557                                        facing revolt on healthcare bill\tu.s. senate republicans delay vote
34042                                    turkish court releases eight rights activists on bail in terrorism trial
32373                                              alleged ringleader of 2010 migrant massacre in mexico arrested
4408                                        hillary clinton mocks donald trump with an amazing tweetstorm at 3 am
15921  oops! homeland security candidate accidentally shows plan for border and illegal criminals‚you‚ll love it!
20193                                     mueller tells white house to save files on donald trump jr meeting: cnn
3723                                        the pope just took major step in abortion rights; conservatives livid
18932                        turkey suspends all non-immigrant visa services at all diplomatic facilities in u.s.
33602                                                       catalan's belgian lawyer to fight spanish 'mentality'
34091                                uk expecting brexit deal in time for lawmakers to vote: pm may's spokeswoman
5091                                                                                           trump doubles down
22465                                                         epa hit hardest as trump budget targets regulations
1295    white house sinks to new lows of obstruction; orders every agency to ignore democrats‚ oversight requests
9299      wife of john conyers confronts media at her house: ‚do you go and stalk white people‚s houses?‚ [video]
30632                                                   paraguay congress legalizes planting of medical marijuana

In [ ]:
def clean_text(text):

    # make all the lowercaser
    text = text.lower()

    # remove puntuation & special characters
    text = re.sub()

    return text

In [36]:
df['news_headline'] = df['news_headline'].apply(clean_text)

In [37]:
df.sample(10)

,news_headline,label
22870,u.s. companies decry trump action on transgender student rights,1
26147,trump 'not thrilled' with debate dates\tclinton vows 'to be there',1
6249,‚fraud‚: major veterans group accuses trump of ripping off soldiers,0
2645,twitter has the ultimate way for snl to get under trump‚s skin; it involves rosie o‚donnell,0
32697,norway receives first f-35 fighter jet,1
10001,lt gen john kelly‚s incredible speech just days after his own son was killed in action: ‚brave men on watch all over the world tonight‚îfor you‚,0
9847,wow! hungary‚s prime minister follows through on promise to build border wall‚george soros will be furious when he sees the stunning number of illegal immigrants he‚s kept out so far,0
2558,the internet rips trump adviser‚s face off after saying sean spicer is always ‚100 percent correct‚,0
23842,trump commerce nominee ross to sell private equity firm stake,1
12253,sorry liberals‚you can stop with the petitions‚hillary did not win the popular vote,0